html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {
margin: 0;
background-color: #fff;
font: 11px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
line-height: 1.231;
}
body, button, input, select, textarea { font: 11px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; letter-spacing:1px;
} 
/* =============================================================================
Tables
========================================================================== */
table { border-collapse: collapse; border-spacing: 0; width: 75%; border: 1px solid black; }
td { vertical-align: top; }
#membername
{
	width: 35%;
	font-weight:bold;	
}
#dob
{
	width: 5%;
}
#email
{
	width: 25%;
}
#address
{
	width: 35%;	
}